{% extends "@templates/base.html.twig" %}


{% block hero %}
    <h1>Profile</h1>
    <h5>🔥 if you see this profile content, you are authenticated successfully. 🔥</h5>
{% endblock %}

{% block main %}
    <span>profile content</span>
{% endblock %}
