{% extends "@templates/base.html.twig" %}

{% block main %}
    <div class="hero is-primary">
        <div class="container">
            <h1>Profile</h1>
        </div>
    </div>
    <div class="container py-2">
        profile content
    </div>
{% endblock %}
