{% extends "@templates/base.html.twig" %}

{% block main %}
    <div class="hero is-primary">
        <div class="container">
            <h1>User Profile</h1>
        </div>
    </div>
    <div class="container">
        profile info
    </div>
{% endblock %}
