{% extends "@templates/base.html.twig" %}

{% block hero %}
	<h1>SSOmoc</h1>
	<p>
        Symfony demonstration of
        <code>login authentication</code>,
        <code>token authentication</code>,
        <code>sso via mocked Oauth2</code>,
        <code>sso via GitHub Oauth2</code>
    </p>

{% endblock %}

{% block main %}
	<div class="container">
		<div class="row">
			<div class="column">
				<div class="card">
					<div class="content centered-xy">
						<a href={{ path('app_login') }}>
							<button class="is-rounded is-outlined">Default Login</button>
						</a>
                        <span>via Email and Password</span>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="card">
					<div class="content centered-xy">
						<a href={{ authzUrl }}>
							<button class="is-rounded is-primary" id="buttonSso">SIAM Login</button>
						</a>
                        <p>via <code>fake SIAM Oauth2 Server</code></p>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="card">
					<div class="content centered-xy">
						<a href={{ path('api_github_connect') }}>
							<button class="is-rounded is-outlined">GitHub Login</button>
						</a>
                        <p>via <code>GitHub Oauth2</code></p>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
