{% extends "@templates/base.html.twig" %}

{% block hero %}
    <h1>Home</h1>
    <a href={{ authzUrl }}>
        <button class="is-rounded is-outlined" id="buttonSso">SSO Login</button>
    </a>
    <a href={{ path('app_login') }}>
        <button class="is-rounded is-outlined">Default Login</button>
    </a>
    <a href={{ path('connect_github_start') }}>
        <button class="is-rounded is-outlined">GitHub Login</button>
    </a>
{% endblock %}
