{% extends "@templates/base.html.twig" %}

{% block main %}
    <div class="hero is-primary">
        <div class="container">
            <h1>Home</h1>
            <button class="is-rounded is-outlined">SSO login</button>
        </div>
    </div>
{% endblock %}
